# ----------------------------------------------------------------------
# Block all web-facing access to assets inside the "input" folder
# ----------------------------------------------------------------------

Deny from all